@{
    ViewBag.Title = "Index";
}

<h3>Fecha @ViewBag.Fecha</h3>
<h2>Bienvenidos a El Rey Can!</h2>
@Html.ActionLink("Ir al inicio", "Index", "Turno")

<br />
<p>Para mas informacion sobre el cuidado del pelaje de tus perros accede a <a href="https://es.wikipedia.org/wiki/Peluquero_canino">este link</a></p>