<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h2>Mi Sitio Web</h2>
        <section id="banner">

            <img width="500" src="~/img/perro.jpg" />
        </section>

        <section id="logo">
            <p>Logo</p>
        </section>

        <section id="login">
            <p>Login</p>
        </section>
    </header>

    <nav>
        @Html.ActionLink("Inicio", "Index", "Home")
        @Html.ActionLink("Turnos", "Index", "Turno")
        <!--TODO: Agregar el resto de los links-->
    </nav>

    <main>
        <p>Main</p>
        <aside id="left">
            <p>Aside</p>
        </aside>

        <article>
            Article @RenderBody()
        </article>

    </main>

    <footer> Email: reycan@email.com </footer>
</body>
</html>
