body {
    width: 900px;
}

* {
    font-family: Arial;
    font-size: 14px; 
}

@media (min-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: 130px 1fr;
        padding: 10px;
        width: 75%;
        height: 5rem;
    }

    .left {
        background-color: darkorange;
    }

    .right {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }

    .header {
        grid-column: 1 / 3; /*full width*/
        height: 3em;
        background-color: yellow;
    }

    .divided {
        grid-template-columns: 1fr 130px;
        display: grid;
    }

    main {
        height: 23em;
        width: 100%;
        align-self: start;
        background-color: forestgreen;
    }

    aside {
        height: 23em;
        width: 100%;
        align-self: end;
        background-color: greenyellow;
    }
}