
@{
    ViewData["Title"] = "Home - Welcome to The Bookshop";
    /*Layout = "~/Views/Shared/_Layout.cshtml";    */
}

@section quote {
"Read before you think, think before you speak" Fran Lebowitz
}

<h1>The Bookshop</h1>
<h2>Welcome to The Bookshop online</h2>

@Html.ActionLink("Our Stores", "Index", "Store") 



