
@{
    ViewData["Title"] = "Home - Welcome to The Bookshop";
    /*Layout = "~/Views/Shared/_Layout.cshtml";    */
}

@section quote {
"Read before you think, think before you speak" Fran Lebowitz
}

<h1>The Bookshop</h1>
<h3>Welcome to The Bookshop online</h3>
<img  height="500" src="~/girl-learning.png" />
<p>
    @Html.ActionLink("View our Stores", "Index", "Store") 
</p>





