<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <h2>Mi sitio en MVC</h2>
    </div>

    <div id="menu">
        <p>Zona de menú</p>
    </div>

    <div id="sideBar">
        <h2>Zona Siderbar</h2>
    </div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        <p>info@mvc.com</p>
    </div>
</body>
</html>
