body {
    background-color: lavender;
}

a {
    text-decoration: none;
    
    color: black;
}

a:hover {
    color: thistle;
}



.header {
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2em;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#links {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

nav {
    width: 85%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 0px 20px;
}

#sign {
    width: 10%;
}

.quote {
    height: 4rem;
    text-align: center;
    clear: both;
    line-height: 40px;
    height: 40px;
    font-family: 'Lora', serif;
}

main {
    background-color: lavender;
    border: 1px solid ghostwhite;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 75% 15%;
    grid-gap: 16px;
    justify-items: center;
}

aside {
    align-self: end;
    justify-items: center;
    padding: 5px;
    border-radius: 15px;
}

aside h3 {
    align-self: center;
    justify-content: center;
    text-align: center;
}

footer a {
    color: white;
}

footer {
    height: 6rem;
    text-align: center;
    clear: both;
    line-height: 40px;
    height: 40px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
