<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Bienvenido a la mejor escuela del continente</h1>
        <p>
            @Html.ActionLink("Go to aula", "Index", "Aula")
        </p>
    </div>
</body>
</html>
